<div class="row">
    <div class="col-lg-12">
        <h1>
            {{product.name}}
            <div class="pull-right">
                <a href="#" class="btn btn-secondary btn-xs">Weź w leasing</a>
            </div>
        </h1>
    </div>
</div>

<div class="row col-lg-12">
    <div class="hero">
        <p>CPU: {{product.cpu}} | GPU: {{product.gpu}}</p>
        <p><button class="btn btn-primary btn-xs">{{product.price}} zł</button></p>
        <p>Opis: {{product.description}}</p>
    </div>
</div>